<div class="contact-container" [style.background-image]="'url(' + backgroundImage + ')'">
  <div class="white-box"></div>
  
  <div class="gray-box">
    <h2 class="contact-title">{{contactData.title}}</h2>
    
    <div class="content-wrapper">
      <!-- Sección izquierda (información de contacto) -->
      <div class="left-section">
        <div class="contact-item">
          <p class="label">Número de teléfono</p>
          <div class="white-small-box">{{contactData.phone}}</div>
        </div>
        
        <div class="contact-item">
          <p class="label">Correo Electrónico</p>
          <div class="white-small-box">{{contactData.email}}</div>
        </div>
        
        <div class="contact-item">
          <p class="label">Ubicación</p>
          <p class="address">{{contactData.address}}</p>
        </div>
      </div>
      
      <!-- Sección derecha (redes sociales) -->
      <div class="right-section">

        <p class="label">Redes sociales:</p>
        
        <div class="social-icons">

                  @for (red of contactData.socialMedia; track red.alt) {

          <a [href]="red.url" >
          <img 
          [src]="red.icon" [alt]="red.alt" class="social-icon" >
        </a>
        }



          <!--
             <img *ngFor="let social of contactData.socialMedia" 
          [href]="social.url" 
               [src]="social.icon" 
               [alt]="social.alt" 
               class="social-icon">
          
               

        -->
     
        </div>
        <img [src]="contactData.bottomImage" alt="Contacto" class="bottom-icon">

      </div>
    </div>
    
    <!-- Cuadro azul en la parte inferior (corregido) -->
    <div class="blue-box">
      {{contactData.availability}}
    </div>
  </div>
</div>


