
<app-cabecera-todos></app-cabecera-todos>
<router-outlet></router-outlet>
<app-credit-banner></app-credit-banner>




<app-products-section></app-products-section>
<app-image-text-trio 
  [items]="teamMembers"  [texto]="algo">
</app-image-text-trio>

<app-image-carousel></app-image-carousel>



<app-secondcredit-banner></app-secondcredit-banner>

<app-image-text-trio 
  [items]="services" [texto]="algo2">
</app-image-text-trio>

<app-recruitment-banner></app-recruitment-banner>
<app-footer></app-footer>