/* Elimina márgenes predeterminados del navegador */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
}

/* Reset para todos los elementos (opcional pero recomendado) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:host {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}