<header class="cabecera">
  <div class="cabecera-contenido">
    <div class="logo-y-menu">
      <a routerLink="/" class="logo">
        <img src="icon/LOGO.png" class="logo">
      </a>
      
      <nav class="menu-principal">
        <ul class="menu-lista">
          @for (item of menuItems; track item.title) {
            <li class="menu-item">
              <a [routerLink]="item.path" class="menu-boton">{{item.title}}</a>
            </li>
          }
        </ul>
      </nav>
    </div>
    
    <div class="acciones">
      <div class="buscador">
        <input 
          type="text" 
          placeholder="Buscar" 
          class="buscador-input"
          [(ngModel)]="searchTerm"
          (input)="onSearchInput()"
          (keydown.enter)="onKeyPress($any($event))"
          (focus)="onFocus()"
          (blur)="onBlur()"
        >
        <svg 
          class="buscador-icono" 
          width="16" 
          height="16" 
          viewBox="0 0 16 16" 
          fill="none" 
          xmlns="http://www.w3.org/2000/svg"
          (click)="onSearchClick()"
        >
          <path d="M11.5 11.5L14 14" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
          <circle cx="7" cy="7" r="5.5" stroke="white" stroke-width="1.5"/>
        </svg>
        
        @if (showSuggestions && filteredItems.length > 0) {
          <div class="sugerencias">
            @for (item of filteredItems; track item.title) {
              <div 
                class="sugerencia-item"
                (mousedown)="selectItem(item)"
              >
                {{item.title}}
              </div>
            }
          </div>
        }
      </div>
      <button routerLink="/formulario" class="boton-solicitar">Solicitar crédito</button>
    </div>
  </div> 
</header>