<div class="spaced-container">
  <!-- Primer espacio en blanco -->
   
  <div class="empty-space" [style.height]="spaceHeight" *ngIf="grayBlockText?.trim()"></div>
  
  <!-- Rectángulo gris - Solo visible si hay texto -->
  <div class="gray-block" *ngIf="grayBlockText?.trim()">
    <p>{{grayBlockText}}</p>
  </div>
  
  <!-- Segundo espacio en blanco -->
  <div class="empty-space" [style.height]="spaceHeight2"></div>
  
  <!-- Rectángulo azul -->
  <div class="blue-block" [routerLink]="'/formulario'">
    <p>{{blueBlockText}}</p>
  </div>
  
  <!-- Tercer espacio en blanco -->
  <div class="empty-space" [style.height]="spaceHeight2"></div>
</div>