<div class="spaced-container">
  <!-- Primer espacio en blanco -->
  <div class="empty-space" [style.height]="spaceHeight"></div>
  
  <!-- Rectángulo gris -->
  <div class="gray-block">
    <p>{{grayBlockText}}</p>
  </div>
  
  <!-- Segundo espacio en blanco -->
  <div class="empty-space" [style.height]="spaceHeight2"></div>
  
  <!-- Rectángulo azul -->
  <div class="blue-block">
    <p>{{blueBlockText}}</p>
  </div>
  
  <!-- Tercer espacio en blanco -->
  <div class="empty-space" [style.height]="spaceHeight2"></div>
</div>